Generating pandas data frame from vaa3d annotation.eswc file

In [5]:
import os

import pandas as pd

import numpy as np

In [6]:
anno_file='D:\itk_test\AL066-AL_stamp_2019_07_23_10_34.ano.eswc'
anno=open(anno_file,'r')

In [8]:
anno_data=anno.readlines()
# heading is stored in anno_data[2], 1st line basically useless

headings=anno_data[2].split(' ')
annotations=[lines.split(' ') for lines in anno_data[3:]]

In [9]:
annotation_df=pd.DataFrame(annotations, columns=headings)

In [10]:
annotation_df.head()

,#n,type,x,y,z,radius,parent,seg_id,level,mode,timestamp,TFresindex
0,104067,3,6014.540,2950.270,710.098,1.000,104068,0,0,0,0,0\n
1,104068,3,6017.900,2950.360,710.257,1.000,104069,0,0,0,0,0\n
2,104069,3,6020.370,2949.710,710.458,1.000,104070,0,0,0,0,0\n
3,104070,3,6022.290,2949.620,710.599,1.000,104071,0,0,0,0,0\n
4,104071,3,6026.890,2950.930,710.979,1.000,104072,0,0,0,0,0\n

In [11]:
factor_xy=25/0.8
factor_z= 25/5
# calculating the downsampling factor
# based on 0.8 x 0.8 x 5um imaging resolution (x y and z)
# downsampling to match the 25um voxel allen reference template

In [88]:
ds_x= pd.to_numeric(annotation_df['x'])
ds_x=ds_x/factor_xy
ds_xround=ds_x.astype(int).astype(str)
ds_y= pd.to_numeric(annotation_df['y'])
ds_y=ds_y/factor_xy
ds_yround=ds_y.astype(int).astype(str)

ds_z= pd.to_numeric(annotation_df['z'])
ds_z=ds_z/factor_z
ds_zround=ds_z.astype(int).astype(str)

# rounds by astype int, then conver to string

In [89]:
ds_coordinates= pd.DataFrame(columns=['x','y','z'])
ds_coordinates['x']=ds_xround
ds_coordinates['y']=ds_yround
ds_coordinates['z']=ds_zround
# put in to panda dataframe just in case for future use

In [90]:
q = [' '.join(x) for x in zip(ds_xround,ds_yround,ds_zround)]
# create a list where row1= x1 y1 z1 row2= x2 y2 z2 and etc 
# for writing to the text file

In [56]:
num_row=len(annotation_df.index)

In [96]:
f=open('D:\itk_test\AL066dstrace.txt','w+')
f.write('point'+'\n')
f.write(str(num_row)+'\n')

for lines in q:
    f.write(lines+'\n')

f.close()

#works, yay