In [1]:
import os
import tkinter.filedialog as fdialog
import Neuron_analysis as na
from Neuron_analysis import *

In [12]:
in_dir = fdialog.askdirectory(title='Please select the input directory')

In [13]:
axon= fdialog.askopenfilename(title='Selecte the transformed points for axons')
dendrite= fdialog.askopenfilename(title='Selecte the transformed points for dendrites')

In [19]:
files= os.listdir(in_dir)
ending_files= [os.path.join(in_dir,i) for i in files if '_endings' in i]
axon_ending= [i for i in ending_files if 'D_' not in i][0]
dendrite_ending=[i for i in ending_files if 'D_' in i][0]

In [20]:
out_dir='D:/Complete_points/'
mouse_name=na.find_mousename(in_dir)
out_name=out_dir+mouse_name
out_name

'D:/Complete_points/AL142'

In [24]:
is_axon=0

if is_axon==1:
    file_type=axon
    file_ending=axon_ending
elif is_axon==0:
    file_type=dendrite
    file_ending=dendrite_ending
# put 0 if working with dendrites

In [25]:
points,atlas_name=na.get_pt_natlas(file_type,in_dir,full=False)
# reads in the points and get the corresponding atlas(cropped version cus we need to extract the cropped plane from its name)
na.find_crop(atlas_name)
# extract the cropped sections ie. section 100-394
points_full=na.points.refill_section(points,atlas_name)
# fills in the missing section by adding the leading slice to the z coordinates of the downsampled points
na.atlas.make_tif(points_full, na.fullatlas_name,out_dir+mouse_name, is_axon)
# projects the downsampled points(now in full z plane) to a tiff file, now ready to merge with the complete atlas and template

In [26]:
region_counts, points_in_atlas=na.points.make_pd(points_full,file_ending,out_name,is_axon)
# find the corresponding atlas ID for each point, store in pd datafile with counts for main and ends
# also outputs an excel file
na.points.make_point_csv(points_full, points_in_atlas,out_name,is_axon)
# outputs a csv file with downsampled points and their associated id

In [35]:
na.points.check_points(points_in_atlas)
# check for IDs that are without atlas label

There are 1136 points with ID= 0, this index is outside of the brain, consider possible suboptimal image registration

C:\Users\liu\Image_registration\Neuron_analysis\points.py:209: UserWarning: Some points do not have corresponding labels
  warnings.warn('Some points do not have corresponding labels')

In [36]:
points_original= fdialog.askopenfilename(title='Selecte the original resampled points')
# asks for the non-downsampled annotation, usually the eswc file that has been converted to um and resampled at 1 um steps
# typically in petersen server analysis folder

original_withID=na.points.findID_origional(points_original, points_in_atlas,out_name,is_axon)
#makes a csv file with original points and their associated id

             x        y        z    atlasID
0      3351.65  2350.94     4425        981
1      3352.51  2350.44     4425        981
2      3353.38  2349.93     4425        981
3      3354.24  2349.43     4425        981
4      3355.11  2348.93     4425        981
5      3355.98  2348.43     4425        981
6      3356.59  2348.22  4425.58        981
7      3357.09  2348.16  4426.45        981
8      3357.58   2348.1   4427.3        981
9      3358.08  2348.04  4428.18        981
10     3358.57  2347.98  4429.05        981
11     3359.06  2347.92  4429.91        981
12     3359.75  2347.47  4429.78        981
13     3359.93  2346.99  4428.94        981
14     3359.98  2346.61  4428.02        981
15     3360.02  2346.23  4427.09        981
16     3360.06  2345.85  4426.17        981
17     3360.18  2345.29  4425.48        981
18     3360.46  2344.35  4425.27        981
19     3360.74  2343.42  4425.05        981
20      3360.8  2342.45  4425.18        981
21      3360.8  2341.48  4425.41        981
22      3360.8   2340.7   4425.9        981
23      3360.8  2340.21  4426.77        981
24      3360.8  2339.72  4427.64        981
25      3360.8  2339.23  4428.51        981
26      3360.8  2338.74  4429.39        981
27      3360.8  2338.21  4429.77        981
28      3360.8  2337.59  4428.99        981
29      3360.8  2337.01  4428.18        981
...        ...      ...      ...        ...
60662  3440.71  3858.96     6135        243
60663  3441.02  3858.01     6135        243
60664  3441.49  3857.13     6135        243
60665  3442.02  3856.29     6135        243
60666  3442.81  3855.68     6135        243
60667  3443.11  3854.73     6135        243
60668  3443.38  3853.77     6135        243
60669  3443.84  3852.93     6135        243
60670  3444.55  3852.25     6135        243
60671  3444.74  3851.29     6135        243
60672  3444.79  3850.29     6135        243
60673  3444.83  3849.29     6135        243
60674  3444.88  3848.29     6135        243
60675  3445.31  3847.43     6135        243
60676  3446.06  3846.79     6135        243
60677  3446.34  3845.83     6135        243
60678  3446.61  3844.87     6135        243
60679  3447.12  3844.06     6135        243
60680  3447.79  3843.36     6135        243
60681  3448.19  3842.44     6135        243
60682  3448.58  3841.52     6135        243
60683  3448.97   3840.6     6135        243
60684  3449.35  3839.67     6135        243
60685  3449.54  3838.69     6135        243
60686  3449.74  3837.71     6135        243
60687  3449.93  3836.95  6135.31        243
60688  3450.11  3836.62  6136.24  484682496
60689   3450.3  3836.29  6137.16  484682496
60690  3450.48  3835.95  6138.09  484682496
60691  3450.67  3835.62  6139.01  484682496

[60692 rows x 4 columns]

In [2]:
na.whatis()

what is it that you look for? 981

Atlas id= 1114    981
Name: id, dtype: int64
Name= 1114    Primary somatosensory area barrel field layer 1
Name: safe_name, dtype: object
Hemisphere= 1114    3
Name: hemisphere_id, dtype: int64

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19)]